[2017-06-05 08:29] hemlatabhatt opened #1 "Separate ibm_db_django in to its own project"
_From @kadler on May 4, 2017 16:33_

There are 4 main python projects:

ibm_db
ibm_db_django
ibm_db_sa
ibm_db_alembic

While ibm_db_sa and ibm_db_alembic are in their own repositories, for some reason ibm_db_django is in this repository. I think it would be a good idea to split these projects in to separate repositories.

_Copied from original issue: ibmdb/python-ibmdb#264_

[2017-06-05 08:29] hemlatabhatt commented on #1
_From @kadler on May 16, 2017 20:47_

FYI, there's a doc on how to do this while keeping the history: https://help.github.com/articles/splitting-a-subfolder-out-into-a-new-repository/

[2017-06-05 08:29] hemlatabhatt commented on #1
_From @SabaKauser on May 17, 2017 12:12_

Hello Kevin,
This is already there is the backlog. However, we are currently working on new support and hence would be able to take this up sometime later. Although I cannot commit on exact timeline, but this would be looked into as soon as we have some bandwidth.

Thanks!
Saba.

[2017-06-05 08:29] hemlatabhatt opened #2 "Separate ibm_db_django in to its own project"
_From @kadler on May 4, 2017 16:33_

There are 4 main python projects:

ibm_db
ibm_db_django
ibm_db_sa
ibm_db_alembic

While ibm_db_sa and ibm_db_alembic are in their own repositories, for some reason ibm_db_django is in this repository. I think it would be a good idea to split these projects in to separate repositories.

_Copied from original issue: ibmdb/python-ibmdb#264_

[2017-06-05 08:29] hemlatabhatt commented on #2
_From @kadler on May 16, 2017 20:47_

FYI, there's a doc on how to do this while keeping the history: https://help.github.com/articles/splitting-a-subfolder-out-into-a-new-repository/

[2017-06-05 08:29] hemlatabhatt commented on #2
_From @SabaKauser on May 17, 2017 12:12_

Hello Kevin,
This is already there is the backlog. However, we are currently working on new support and hence would be able to take this up sometime later. Although I cannot commit on exact timeline, but this would be looked into as soon as we have some bandwidth.

Thanks!
Saba.

[2017-06-05 08:29] hemlatabhatt commented on #2
This issue was moved to ibmdb/python-ibmdb-django#1

[2017-06-19 15:28] kadler opened #3 "ibm_db_django breaks with Django 1.11"
_From @genomics-geek on April 30, 2017 4:32_

When I use ibm_db_django with Django 1.11 I observe this error:

[code]

However, if I downgrade to Django 1.10.7, this error goes away.

_Copied from original issue: ibmdb/python-ibmdb#262_

[2017-06-19 15:28] kadler commented on #3
_From @juztin on May 3, 2017 16:58_

I've run across the same issue during an upgrade of packages, including Django/DB2.

I can get past the above error by adding the below as class variables of `DatabaseWrapper`, in `ibm_db_django/base.py`:

[code]

Along with adding the kwarg `name=None` to the `create_cursor` method:

[code]

[2017-06-19 15:28] kadler commented on #3
_From @juztin on May 3, 2017 17:11_

Not 100% sure if the above is the "correct" fix, but I've created PR #263.

[2017-06-19 15:28] kadler commented on #3
_From @klada on June 6, 2017 12:35_

The fix in PR #263 is working for me. Thanks.

[2017-06-19 15:30] kadler opened #4 "Add support for SSL in ibm-db-django"
_From @Jamstah on February 23, 2016 17:43_

I need to be able to connect my django application to a DB2 database that is using SSL security.

_Copied from original issue: ibmdb/python-ibmdb#202_

[2017-06-19 15:30] kadler commented on #4
_From @Jamstah on February 24, 2016 13:55_

On investigation, there is a workaround here. I'm not sure if its on purpose or not. If you specify a dsn in OPTIONS it gets merged into the kwargs that are given to connect, so you can override the DSN

[code]

Its a workaround not a solution, but will keep me going for now.

[2017-06-19 15:30] kadler commented on #4
_From @Davin-IBM on May 18, 2017 13:7_

I need this functionality to be supported as well.  +1

[2017-06-19 15:33] kadler opened #5 "Add ability to specify a schema name"
_From @mjlawrence83 on November 5, 2015 17:4_

At the moment, when using Django, the schema name must be the same as the user name. I have a scenario where a current legacy database has a schema name that is different from the user name, could the functionality be added to specify a schema name in the Django settings.py file?

_Copied from original issue: ibmdb/python-ibmdb#192_

[2017-06-19 15:33] kadler opened #6 "South integration"
_From @GoogleCodeExporter on March 16, 2015 6:50_

[code]

Original issue reported on code.google.com by `marcdebu...@gmail.com` on 15 May 2014 at 9:46

_Copied from original issue: ibmdb/python-ibmdb#153_

[2017-06-19 15:33] kadler commented on #6
_From @GoogleCodeExporter on March 16, 2015 6:50_

[code]

Original comment by `rahul.pr...@in.ibm.com` on 15 May 2014 at 12:50

[2017-06-19 15:33] kadler commented on #6
_From @GoogleCodeExporter on March 16, 2015 6:50_

[code]

Original comment by `marcdebu...@gmail.com` on 15 May 2014 at 1:09

[2017-06-19 15:34] kadler opened #7 "Django inspectdb?"
_From @GoogleCodeExporter on March 16, 2015 6:50_

[code]

Original issue reported on code.google.com by `spencer....@gmail.com` on 14 Nov 2013 at 10:09

_Copied from original issue: ibmdb/python-ibmdb#142_

[2017-06-19 15:34] kadler commented on #7
_From @GoogleCodeExporter on March 16, 2015 6:50_

[code]

Original comment by `rahul.pr...@in.ibm.com` on 20 Nov 2013 at 7:18

[2017-06-19 15:34] kadler commented on #7
_From @GoogleCodeExporter on March 16, 2015 6:50_

[code]

Original comment by `spencer....@gmail.com` on 20 Nov 2013 at 1:10

[2017-06-19 15:34] kadler opened #8 "Django - AS400 Table Quoting Issue (maybe)"
_From @GoogleCodeExporter on March 16, 2015 6:50_

[code]

Original issue reported on code.google.com by `spencer....@gmail.com` on 14 Nov 2013 at 9:53

_Copied from original issue: ibmdb/python-ibmdb#141_

[2017-06-19 15:34] kadler commented on #8
_From @GoogleCodeExporter on March 16, 2015 6:50_

[code]

Original comment by `rahul.pr...@in.ibm.com` on 20 Nov 2013 at 6:42

[2017-06-19 15:34] kadler commented on #8
_From @GoogleCodeExporter on March 16, 2015 6:50_

Original comment by `rahul.pr...@in.ibm.com` on 20 Nov 2013 at 6:42

[2017-06-19 15:34] kadler opened #9 "Informix support in idm_db_django"
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original issue reported on code.google.com by `gorbl...@gmail.com` on 19 Sep 2012 at 6:26

_Copied from original issue: ibmdb/python-ibmdb#122_

[2017-06-19 15:34] kadler commented on #9
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original comment by `rahul.pr...@in.ibm.com` on 21 Sep 2012 at 6:01

[2017-06-19 15:34] kadler commented on #9
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

[2017-06-19 15:34] kadler commented on #9
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

[2017-06-19 15:34] kadler commented on #9
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original comment by `sthe...@gmail.com` on 4 Mar 2013 at 1:28

[2017-06-19 15:34] kadler commented on #9
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original comment by `rahul.pr...@in.ibm.com` on 4 Mar 2013 at 2:00

[2017-06-19 15:34] kadler commented on #9
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original comment by `sthe...@gmail.com` on 4 Mar 2013 at 2:18

[2017-06-19 15:34] kadler commented on #9
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original comment by `sthe...@gmail.com` on 4 Mar 2013 at 4:30

[2017-06-19 15:34] kadler commented on #9
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original comment by `rahul.pr...@in.ibm.com` on 5 Mar 2013 at 8:11
- Changed state: **Started**

[2017-06-19 15:34] kadler commented on #9
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original comment by `sthe...@gmail.com` on 5 Mar 2013 at 8:39

[2017-06-19 15:34] kadler commented on #9
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original comment by `rahul.pr...@in.ibm.com` on 5 Mar 2013 at 11:09

[2017-06-19 15:34] kadler commented on #9
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original comment by `andr...@nuessle.in` on 2 Jul 2014 at 12:13

[2017-06-19 15:34] kadler commented on #9
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original comment by `andr...@nuessle.in` on 2 Jul 2014 at 12:18

[2017-06-19 15:35] kadler opened #10 "DB2 multi-row insert problem"
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original issue reported on code.google.com by `gasp...@gmail.com` on 4 Jul 2012 at 2:12

_Copied from original issue: ibmdb/python-ibmdb#115_

[2017-06-19 15:35] kadler commented on #10
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original comment by `rahul.pr...@in.ibm.com` on 9 Jul 2012 at 8:50

[2017-06-19 15:35] kadler commented on #10
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original comment by `gasp...@gmail.com` on 10 Jul 2012 at 8:54

[2017-06-19 15:35] kadler commented on #10
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original comment by `rahul.pr...@in.ibm.com` on 10 Jul 2012 at 9:32

[2017-06-19 15:35] kadler commented on #10
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

[2017-06-19 15:36] kadler commented on #10
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original comment by `gasp...@gmail.com` on 10 Jul 2012 at 9:58

[2017-06-19 15:36] kadler commented on #10
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original comment by `rahul.pr...@in.ibm.com` on 12 Jul 2012 at 12:19

[2017-06-19 15:36] kadler commented on #10
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original comment by `gasp...@gmail.com` on 16 Jul 2012 at 11:27

[2017-06-19 15:36] kadler commented on #10
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original comment by `rahul.pr...@in.ibm.com` on 17 Jul 2012 at 12:48

[2017-06-19 15:36] kadler commented on #10
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original comment by `gasp...@gmail.com` on 18 Jul 2012 at 12:59

[2017-06-19 15:36] kadler commented on #10
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original comment by `rahul.pr...@in.ibm.com` on 17 Jun 2013 at 6:28

[2017-06-19 15:36] kadler opened #11 "GeoDjango adapter"
_From @GoogleCodeExporter on March 16, 2015 6:48_

[code]

Original issue reported on code.google.com by `trebor74hr@gmail.com` on 3 Sep 2010 at 3:23

_Copied from original issue: ibmdb/python-ibmdb#60_

[2017-06-19 15:36] kadler commented on #11
_From @GoogleCodeExporter on March 16, 2015 6:48_

[code]

Original comment by `trebor74hr@gmail.com` on 3 Sep 2010 at 3:24

[2017-06-19 15:36] kadler commented on #11
_From @GoogleCodeExporter on March 16, 2015 6:48_

[code]

Original comment by `rahul.pr...@in.ibm.com` on 8 Sep 2010 at 4:23
- Added labels: **Type-Enhancement**
- Removed labels: **Type-Defect**

[2017-06-19 15:36] kadler commented on #11
_From @GoogleCodeExporter on March 16, 2015 6:48_

Original comment by `rahul.pr...@in.ibm.com` on 8 Sep 2010 at 4:23

[2017-06-19 15:36] kadler commented on #11
_From @GoogleCodeExporter on March 16, 2015 6:48_

[code]

Original comment by `mr.udan...@gmail.com` on 3 Mar 2011 at 6:16

[2017-06-19 15:36] kadler commented on #11
_From @GoogleCodeExporter on March 16, 2015 6:48_

[code]

Original comment by `rahul.pr...@in.ibm.com` on 7 Mar 2011 at 2:47

[2017-06-19 15:36] kadler commented on #11
_From @GoogleCodeExporter on March 16, 2015 6:48_

[code]

Original comment by `mr.udan...@gmail.com` on 8 Mar 2011 at 8:51

[2017-06-19 15:36] kadler opened #12 "django adapter: query.DB2QueryClass.as_sql to use 'fetch first' when has high_mark (limit) and no low_mark (offset)"
_From @GoogleCodeExporter on March 16, 2015 6:47_

[code]

Original issue reported on code.google.com by `trebor74hr@gmail.com` on 26 Jun 2009 at 9:23

_Copied from original issue: ibmdb/python-ibmdb#32_

[2017-06-19 15:36] kadler commented on #12
_From @GoogleCodeExporter on March 16, 2015 6:47_

[code]

Original comment by `tarun.pa...@in.ibm.com` on 1 Jul 2009 at 8:46
- Changed state: **Accepted**
- Added labels: **Performance**

[2017-06-19 15:36] kadler commented on #12
_From @GoogleCodeExporter on March 16, 2015 6:47_

Original comment by `rahul.pr...@in.ibm.com` on 12 Nov 2009 at 12:03

[2017-06-19 15:36] kadler opened #13 "django adapter: To simplify implementation of creation.sql_create_model"
_From @GoogleCodeExporter on March 16, 2015 6:47_

[code]

Original issue reported on code.google.com by `trebor74hr@gmail.com` on 26 Jun 2009 at 9:15

_Copied from original issue: ibmdb/python-ibmdb#31_

[2017-06-19 15:37] kadler commented on #13
_From @GoogleCodeExporter on March 16, 2015 6:47_

[code]

Original comment by `tarun.pa...@in.ibm.com` on 1 Jul 2009 at 9:09
- Changed state: **Accepted**
- Added labels: **Type-Enhancement**, **Priority-Low**, **Performance**
- Removed labels: **Type-Defect**, **Priority-Medium**

[2017-06-19 15:37] kadler commented on #13
_From @GoogleCodeExporter on March 16, 2015 6:47_

Original comment by `tarun.pa...@in.ibm.com` on 1 Jul 2009 at 9:10

[2017-06-19 15:37] kadler commented on #13
_From @GoogleCodeExporter on March 16, 2015 6:47_

Original comment by `rahul.pr...@in.ibm.com` on 12 Nov 2009 at 12:02

[2017-07-07 14:10] ls-initiatives commented on #3
I see the PR was closed stating " This will be addressed when [Django 1.11] support is released."
Is progress being made on this matter, or should we use the proposed patch in the interim?

[2017-08-15 11:42] klada commented on #3
*Bump*

Is there anyone working an this? Django 1.10 is slowly reaching EOL (4 more months) and it would be good if we had an upgrade path.

[2017-12-05 05:25] hemlatabhatt commented on #3
Hi,

The work is in progress to provide support  for Django 1.10.Will be releasing soon.

Thanks

[2017-12-14 06:11] hemlatabhatt commented on #3
Hi,
Since 1.10 is going to EOL  ,we will be providing support for Django 2.0 in upcoming release.
Thanks

[2017-12-14 06:28] SabaKauser commented on #3
we will include https://github.com/ibmdb/python-ibmdb/pull/263/commits/b53e1fa31b42fe51eb2f58c196df8f41cd94a22c in upcoming release of Django 2.0 support.

[2017-12-19 11:55] #10 closed

[2017-12-22 07:11] Vyshakh18 commented on #8
Since workaround is available, closing this issue for now due to other priority items.
Re-open when needed.

[2017-12-22 07:11] #8 closed

[2017-12-22 07:15] Vyshakh18 commented on #7
Could you try modifying ibm_db_django/ibm_db_django/operations.py in the quote_name
function to not put quotes around the table name, and check if this would help? - this may not be the final solution, but just a workaround until the fix is available.

[2018-02-20 10:11] hemlatabhatt commented on #2
Completed ,Hence closing this.

[2018-02-20 10:11] #2 closed

[2018-02-21 04:49] #1 closed

[2018-02-21 09:39] hemlatabhatt commented on #9
The issue is resolved,Hence closing .

[2018-02-21 09:39] #9 closed

[2018-02-21 09:45] hemlatabhatt commented on #11
Please raise a request if its still required ,Closing this for now.

[2018-02-21 09:45] #11 closed

[2018-02-22 14:53] hemlatabhatt opened #17 "django loaddata is too slow #235"
Hello,
I am trying to migrate the data from sqllite to db2. I have used the dumpdata to take the backup from sqlite and using loadata to populate existing db2.
The commands i habe been following are:
manage.py dumpdata --exclude auth.permission --exclude contenttypes --exclude sessions --output db.json

For loading to existing db2:
manage.py loaddata db.json

The data we've to migrate is pretty bi

[2018-02-27 22:45] eliz-pri commented on #7
Has this issue been fixed?

[2018-02-28 17:20] hemlatabhatt commented on #7
@eliz-pri  ,i am working on this .

[2018-03-06 11:13] hemlatabhatt commented on #7
@eliz-pri  ,I have merged the code for the inspectdb support.Please let me know if you are facing any issues.Closing this for now.

[2018-03-06 11:13] #7 closed

[2018-03-06 11:15] hemlatabhatt commented on #3
The code for Django 2.0 support is released in git .Please let us know if you are facing any issues.

[2018-03-07 07:09] norwizzle opened #19 "OVER() in Db2 for i"
The whole implementation to work around the lack of LIMIT/OFFSET support in Db2 has a glitch in Db2 for i (AS400) whereby the ORDER BY of the original query is not followed for results beyond the initial fetch. The problem seems to be [here](https://github.com/ibmdb/python-ibmdb/blob/6f74cedbb3808f2140c5736332f2edc4d965aafa/IBM_DB/ibm_db_django/ibm_db_django/compiler.py#L101):

`sql = '%s, ( ROW_N

[2018-03-08 22:11] bansanguy commented on #7
Wrt the above issue resolution, can you tell me which version the code has been merged with?

[2018-03-09 03:46] SabaKauser commented on #7
as of today, the code is available only in git. it would be released to pypi sometime later.
Hence, current source in git has the resolution.

[2018-03-09 03:48] SabaKauser commented on #7
the PR used it his https://github.com/ibmdb/python-ibmdb-django/pull/18
for django 2.0 support.

[2018-03-26 06:34] hemlatabhatt commented on #5
Hi,

 I have added the support of the same from settings file.Please revert back in case of any issues .Closing this for now.

Regards
Hemlata

[2018-03-26 06:34] #5 closed

[2018-03-26 06:35] hemlatabhatt commented on #4
Hi,

I have added the support for SSL from settings file.Please revert in case of any issues .Closing this for now.

Regards
Hemlata

[2018-03-26 06:35] #4 closed

[2018-03-26 06:35] #3 closed

[2018-03-26 07:02] ls-initiatives commented on #3
Is it compatible with Django 1.11LTS ?

[2018-04-30 06:48] hemlatabhatt commented on #3
@ls-initiatives  ,Django 2,0 is the tested version.It is recommended to use the same.

[2018-07-01 20:43] Arlington1985 opened #24 "'NoneType' object is not callable Error with Django 2.0"
Returning the folling error while executing `python manage.py test`

`Traceback (most recent call last):
  File "manage.py", line 15, in <module>
    execute_from_command_line(sys.argv)
  File "/home/rovshan/development/IBM/datastage_cmdb/venv/lib/python3.6/site-packages/django/core/management/__init__.py", line 371, in execute_from_command_line
    utility.execute()
  File "/home/rovshan/developm

[2018-07-05 06:32] hemlatabhatt commented on #24
@Arlington1985 , Please update to the latest release by pip install ibm_db_django==1.2.0.0 and re-try. Some issues are addressed in the new release. Please revert if you still face the issue.

[2018-08-07 06:15] #24 closed

[2018-08-14 06:18] hemlatabhatt opened #25 "BooleanField always returns True for both value 1 and value 0"
_From @fmeoli on December 6, 2016 15:24_

The models.NullBooleanField () or models.BooleanField () does not translate correctly the values 0/1 False / True from version 1.8 of Django.
For example, users are shown all as superuser and staff (as if the database were setup to 1 - True) even if the corresponding values in the database are 0 (False).
To solve the problem I had to change the function of

[2018-08-14 06:18] hemlatabhatt commented on #25
Hi Fabio,

i checked the same with a sample test case as :
class test(models.Model):
    isboo = models.BooleanField(default=0)
    noboo = models.BooleanField(default=1)

    def convert_boolean_value(self,value):
        if value in ( 0, 1 ):
            print("Print the value :",bool(value),value)
            return value
        else:
            return value

    def test(self):
        a= te

[2018-08-14 06:18] hemlatabhatt commented on #25
_From @fmeoli on December 9, 2016 12:15_

Hi Hemlata,

sorry I did not say the most important thing maybe. The mistake I reported only occurs in the form. You can check it with the Admin site on model "Auth" controlling "is_staff" privilege users:
The list are properly displayed (as in your test) but if you enter details on a "no staff member" the next screen displays the user such as "is staff."

[2018-08-14 06:18] hemlatabhatt commented on #25
_From @mjlawrence83 on February 28, 2017 14:28_

Hi,

I'm also experiencing this same issue after trying to upgrade to 1.8.17 from 1.7.11. For each django version I'm using the same ibm-db-django version 1.1.0.2.

Any model instance which is supposed to be a booleanField is actually of type Integer

[2018-08-14 06:18] hemlatabhatt commented on #25
_From @SabaKauser on August 14, 2018 5:26_

this is moved to ibm_db_django

[2018-08-14 06:18] hemlatabhatt opened #26 "BooleanField always returns True for both value 1 and value 0"
_From @fmeoli on December 6, 2016 15:24_

The models.NullBooleanField () or models.BooleanField () does not translate correctly the values 0/1 False / True from version 1.8 of Django.
For example, users are shown all as superuser and staff (as if the database were setup to 1 - True) even if the corresponding values in the database are 0 (False).
To solve the problem I had to change the function of

[2018-08-14 06:18] hemlatabhatt commented on #26
Hi Fabio,

i checked the same with a sample test case as :
class test(models.Model):
    isboo = models.BooleanField(default=0)
    noboo = models.BooleanField(default=1)

    def convert_boolean_value(self,value):
        if value in ( 0, 1 ):
            print("Print the value :",bool(value),value)
            return value
        else:
            return value

    def test(self):
        a= te

[2018-08-14 06:18] hemlatabhatt commented on #26
_From @fmeoli on December 9, 2016 12:15_

Hi Hemlata,

sorry I did not say the most important thing maybe. The mistake I reported only occurs in the form. You can check it with the Admin site on model "Auth" controlling "is_staff" privilege users:
The list are properly displayed (as in your test) but if you enter details on a "no staff member" the next screen displays the user such as "is staff."

[2018-08-14 06:18] hemlatabhatt commented on #26
_From @mjlawrence83 on February 28, 2017 14:28_

Hi,

I'm also experiencing this same issue after trying to upgrade to 1.8.17 from 1.7.11. For each django version I'm using the same ibm-db-django version 1.1.0.2.

Any model instance which is supposed to be a booleanField is actually of type Integer

[2018-08-14 06:18] hemlatabhatt commented on #26
_From @SabaKauser on August 14, 2018 5:26_

this is moved to ibm_db_django

[2018-08-14 06:18] hemlatabhatt commented on #26
This issue was moved to ibmdb/python-ibmdb-django#25

[2018-08-14 06:19] hemlatabhatt opened #27 "Bug in introspection.py for Jython"
_From @javango on February 11, 2016 16:49_

introspection.py line 113 at the Django version check,  the 'else' is missing:

[code]

should be

[code]

_Copied from original issue: ibmdb/python-ibmdb#199_

[2018-08-14 06:20] hemlatabhatt opened #28 "ibm_db_dbi - connect / pconnect methods should accept **kwargs instead of a dictionary"
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original issue reported on code.google.com by `sok...@gmail.com` on 2 May 2012 at 1:43

Attachments:
- [ibm_db-connect-kwargs.diff](https://storage.googleapis.com/google-code-attachments/ibm-db/issue-107/comment-0/ibm_db-connect-kwargs.diff)

_Copied from original issue: ibmdb/python-ibmdb#107_

[2018-08-14 06:20] hemlatabhatt opened #29 "OS390 (z/OS) support"
_From @GoogleCodeExporter on March 16, 2015 6:49_

[code]

Original issue reported on code.google.com by `Adam.J.M...@gmail.com` on 2 Aug 2013 at 3:51

_Copied from original issue: ibmdb/python-ibmdb#131_

[2018-08-14 06:23] #29 closed, assigned to nobody

[2018-08-27 05:45] hemlatabhatt commented on #6
Closing this as syncdb is deprecated in Django ,Re-open is required

[2018-08-27 05:45] #6 closed

[2018-08-28 17:51] plainspooky opened #30 "Possible typo on 1.2.0.0 release number"
There is a typo on version number from 1.2.0.0 release? Because in pyPi shows it as 1.2.0.0a0 but in package is just 1.2.0.0

[2018-09-16 19:06] Stihotvor opened #31 "Old Readme file"
Please, update Your readme files and instructions. We have 2018 and Python 3.7 and Your readme file You have Python 2 support which useless for new versions of Django. Also I have found some information in changelog file about new version. Could You be more specific with versions? It's kinda not professional to indicate that this lib has a support of _some_ Python 3 versions.

[2018-09-16 19:18] Stihotvor opened #32 "Tested on Ubuntu Linux 7.04 64 bit?"
Please, test the package on a fresh system or correct the readme file.

[2018-09-17 09:29] hemlatabhatt commented on #32
@Stihotvor ,Thanks a lot for your inputs ,I am working on the same.Will update the ReadMe file post testing on Newer version Ubuntu System.

[2018-10-09 10:23] #28 closed, assigned to nobody

[2018-10-11 05:52] hemlatabhatt opened #33 "BooelanField (SMALLINT) returns integer not boolean"
_From @chsymann89 on October 10, 2018 16:14_

summary
------------
in the current Version (1.2.0.0) we are facing a problem with BooleanFields due to a bug/a missing feature in ibm-db-django.
When you read a BooloeanField (through ORM) you receive an integer.
Where as using ibm-db-django 1.0.7 we receive a boolean instead.

example
-----------
I created a small testscript to illustrate it:

SQL to

[2018-10-11 05:52] hemlatabhatt commented on #33
@chsymann89 ,thanks for the information, i am looking into the issue.I am moving the issue to the correct repository.Please raise a pull request in the same i.e( https://github.com/ibmdb/python-ibmdb-django )

[2018-10-11 08:44] chsymann89 commented on #33
I made the pull request available here:
https://github.com/ibmdb/python-ibmdb-django/pull/34

As already said - we would be very happy if you would accept it.

[2018-10-16 14:37] Spajderix opened #35 "Migration does not work for ManyToMany field with through table."
ManyToMany field will work without issues, but when intermediate model is specified via through option, the resulting model will not migrate.

Python 3.4.8
DB2 V11.1
Django        2.0.9
ibm-db        2.0.8a0
ibm-db-django 1.2.0.0

[2018-11-06 09:02] klada opened #36 "Installation fails with urllib.error.HTTPError: HTTP Error 500: Internal Server Error"
When installing `ibm-db` through `pip install` I get the following error:

[code]

It seems that the setup.py script depends on the availability of public.dhe.ibm.com. Please move the CLI drivers to a more reliable server or serve them through Github.

[2018-11-12 06:09] hemlatabhatt commented on #36
This issue was moved to ibmdb/python-ibmdb#354

[2018-11-12 06:09] #36 closed

[2018-12-06 01:35] anikikong opened #37 "python django connect to Db2 failed with ibm_db_django"
python django connect to Db2 failed with ibm_db_django:

D:\Dproject\Db2test>python manage.py test
Wants to create test495b as test database. Type yes to create it else type nono
Wants to use TEST as test database, Type yes to use it as test database or no to exityes
Operations to perform:
Apply all migrations: admin, auth, contenttypes, flatpages, myapp, redirects, sessions, sites
Running migrati

[2018-12-06 06:15] sujan08 commented on #37
Hi ,

Thanks for the update and steps, will update

This is my test steps. I don't know what model class files you need. Can you be more specific?

In case of nix the steps will be like: {{{ $ django-admin.py startproject myproj $ cd myproj $ vi settings.py }}}
The settings.py will be like (after adding DB2 properties): {{{ DATABASES = { 'default': { 'ENGINE' : 'ibm_db_django', 'NAME' : 'mydb', 'U

[2018-12-06 08:10] anikikong commented on #37
After deleted  USE_TZ=True , it worked

[2018-12-06 08:10] #37 closed

[2019-01-28 15:43] Vyshakh18 commented on #35
@Spajderix Are you still facing this issue?

[2019-10-09 21:16] blenard81 opened #41 "Python 3.7"
Please update for Python 3.7 support

[2019-10-09 21:16] blenard81 opened #42 "Django 2.2.6"
Please update to support Django 2.2.6

[2019-11-23 00:20] trebor74hr opened #44 "Django 2.2.7 calls ibm_db_dbi.close() 2 times on the same cursor producing ProgrammingError: Cursor cannot be closed; connection is no longer active"
Django (version is 2.2.7 and probably some others) calls cursor.close() 2 times when executing regular SQL Select in django/db/models/sql/compiler.py, producing:

  `ibm_db_dbi::ProgrammingError: Cursor cannot be closed; connection is no longer active
`
The code excerpt from  django/db/models/sql/compiler.py:
[code]

My solution proposal is to add to ibm_db_dbi.py a logic which ignores cursor.clos

[2020-02-04 16:07] blenard81 opened #46 "Support for Django 3.0"
Hi

Since 2.2 is entering long term support, we're looking at Django 3.0.
Can you update this for Django 3 and support Python 3.8?

[2020-02-20 14:56] imavo commented on #44
Same symptom with django 2.2.5 and ibm_db_django 1.2.0.0a0 and db2-v11.1.4.4 luw. The suggested workaround patch by trebor74hr is also effective.

[2020-05-10 08:12] imavo opened #49 "Is ibm_db_django abandoned?"
At present date May 2020,  with no updates to ibm_db_django since 2018, no support for Django 3, or issues with newer versions of Python, the question needs to be asked:  **Is  ibm_db_django now abandoned?**

[2020-05-13 16:24] praveen-db2 commented on #49
Hi, sorry for delayed reply. No we have not abandoned  ibm_db_django, its development to support latest versions of Django is going on from past 3 months., you can expect support for Django2.2 in another quarter and 3.0 after 2 more months.

[2020-05-21 11:35] carltongibson commented on #49
Thanks for the update. We're looking at the list of third-party backends now, and were wondering about the status.

[2020-07-06 10:21] trebor74hr opened #50 "Django 3.0 reports ImportError: cannot import name 'six' from 'django.utils'"
I have problem with django 3.0 modules ibm_db_django/pybase.py" and ibm_db_django/schemaEditor.py report:
`
ImportError: cannot import name 'six' from 'django.utils' (django/utils/__init__.py)
`

Since django.utils.six is [deprected in django 3.0 ](https://stackoverflow.com/questions/59193514/importerror-cannot-import-name-six-from-django-utils) the fix I found working is:

- intall six: `pip inst

[2020-07-06 10:25] trebor74hr commented on #46
First problem I found in Django 3.0 is that django.utils.six is deprecated. Problem and solution in https://github.com/ibmdb/python-ibmdb-django/issues/50

[2020-07-23 14:23] jstenz opened #52 "Operation error in query annotation"
In this example : `SomeModel.objects.annotate(test=F('field1') / (F('field1') + F('field2')))`
the '+' is swapped with a '-' in the sql request for no apparent reason causing erroneous result.

I committed a solution at [https://github.com/ibmdb/python-ibmdb-django/pull/51](url) if it help.

[2020-08-31 09:11] QiaoShin opened #53 "ibm_db_django' isn't an available database backend"
ibm_db_django' isn't an available database backend

[2020-09-01 10:46] praveen-db2 commented on #53
As of now ibm_db_django adapter supports DJango version 2.0. Developments are going on to support DJango 2.2 and later 3.0. In another 2 or 3 months you see ibm_db_django support for Django 2.2.

[2020-09-01 10:46] #53 closed

[2021-01-12 04:35] mudittripathi opened #56 "Getting error while doing all the steps given in readme.md"
Error says

django.core.exceptions.ImproperlyConfigured: 'ibm_db_django' isn't an available database backend.
Try using 'django.db.backends.XXX', where XXX is one of:
    'mysql', 'oracle', 'postgresql', 'sqlite3'

[2021-01-22 15:19] franpss commented on #56
Hi, were you able to solve this? I have the same problem and I haven't been able to solve it. Thanks

[2021-01-22 17:15] mudittripathi commented on #56
Yes, I was able to solve this to some extent. Are you using django app to connect?

[2021-01-22 18:26] franpss commented on #56
Yes, I made a new Django project exactly like the steps given on readme.md
Thanks for your reply

[2021-02-06 03:30] reddibhatini opened #58 "Can someone help me with this error "AttributeError: module 'ibm_db_dbi' has no attribute 'BOOLEAN'"
When I run "python manage.py test" I get this error
AttributeError: module 'ibm_db_dbi' has no attribute 'BOOLEAN'
Any one seen this issue before? Appreciate throwing some light on this.

I had django, python, ibm-db-django versions correct.

Thank you

[2021-02-07 13:35] reddibhatini commented on #56
@mudittripathi
Can you post your versions of
1. Python (Python --version)
2.Django (Pip list)
3. ibm-db-django (pip list)

I tried different version combos of python, Django, ibm-db-django but couldn't make django, db2 connection work.

[2021-02-08 06:12] praveen-db2 commented on #58
@reddibhatini pls add below this line after DATETIME and ROWID in file ibm_db_dbi.py file which you get when you install ibm_db python driver. In next release of python driver you will have this fix.

    DATETIME = DBAPITypeObject(("TIMESTAMP",))

    ROWID = DBAPITypeObject(())

++**BOOLEAN = DBAPITypeObject(("BOOLEAN",))"**

[2021-02-08 06:43] praveen-db2 commented on #58
@reddibhatini I am using python = 3.7.4, Django = 3.1, ibm_db_django = 1.4.0.0

[2021-02-09 17:26] reddibhatini commented on #58
@praveen-db2
That didn't resolve my issue.
I tried environment versions you mentioned above.
Can you let me know any other changes needs to be done.

[2021-02-09 17:48] praveen-db2 commented on #58
@reddibhatini can you pls do below change as well in ibm_db_dbi.py along with above change i said.

    def __get_description(self):
        """ If this method has already been called, after executing a select statement,
            return the stored information in the self.__description.
        """
        if self.__description is not None:
            return self.__description

        if self.

[2021-02-09 18:50] reddibhatini commented on #58
@praveen-db2
Still getting same error

[2021-02-09 20:11] praveen-db2 commented on #58
@reddibhatini Hi just came to know that ibm_db (DB2 python driver) has not yet released with support for BOOLEAN.
I used test version of it, hence its working for me. I will ask respective engineer to support the same and release at earliest.
At that time you no need to to above changes i said. It will be done in upcoming ibm_db version.

[2021-03-02 18:45] reddibhatini opened #60 "django db2 ssl connection"
How would I make django to use ssl connection to db2(sslConnection=true). What options I need to pass to DATBASES dict in settings.py file?

BTW, I use this jdbc string in a sql query tool to connect to db2
jdbc:db2://hostname/db_name:sslConnection=true;

[2021-03-09 04:24] HowardMartin opened #61 "'ibm_db_django' isn't an available database backend with django version 2.0 or 3.1"
'ibm_db_django' isn't an available database backend.

Pip List
Django                  3.1
django-contrib-comments 2.1.0
django-cors-headers     3.7.0
djangorestframework     3.12.2
ibm-db                  3.0.3
ibm-db-django           1.4.0.0

DATABASES = {
    'default': {
        'ENGINE': 'ibm_db_django',
        'NAME': 'XXX',
        'USER': 'XXX',
        'PASSWORD' : 'XXX',
        'HOST':

[2021-03-10 14:46] praveen-db2 commented on #60
Hi, I hadn't tried SSL yet, but u can try setting it in settings.py like below.
[code]

If it didnt work let me know, i ill work on that when I am free.

[2021-03-12 03:20] HowardMartin commented on #61
Thank you for your fast response.

Here is my message error:
'ibm_db_django' isn't an available database backend.

I can choose only between mysql,postgresql, etc.
No options on ibm db.

[2021-03-15 01:16] HowardMartin commented on #61
Hereby I attach the screenshot of the error:
![ibm_db_django](https://user-images.githubusercontent.com/58319088/111091730-82a5e280-8566-11eb-9977-d7b9137bf533.PNG)

Here is my pip list, I'm trying using django 2.2 and ibm_db_django 1.3
![pip](https://user-images.githubusercontent.com/58319088/111091789-a832ec00-8566-11eb-9b66-373175eeb20f.PNG)

Please help me, Thank you very much.

[2021-03-18 12:06] imavo commented on #58
It would be helpful if this can be resolved as it prevents using currently supported versions of django framework with Db2-LUW versions that support BOOLEAN , i.e this is a blocker.

[2021-03-19 06:31] praveen-db2 commented on #58
@imavo python-ibmdb team is already working on it. You will get release shortly. Apologies for delay.

[2021-03-22 20:50] vmorris commented on #29
Since https://github.com/ibmdb/python-ibmdbsa/issues/86 is closed,  can we assume that db2 zos is now supported?

[2021-04-10 04:44] brittomoses commented on #61
I get the same error as well, I run from IBM i

Traceback (most recent call last):
  File "/QOpenSys/pkgs/lib/python3.6/site-packages/ibm_db_django/creation.py", line 25, in <module>
    import ibm_db_dbi as Database
  File "/QOpenSys/pkgs/lib/python3.6/site-packages/ibm_db_dbi.py", line 42, in <module>
    import ibm_db
ImportError: Could not load module /QOpenSys/pkgs/lib/python3.6/site-packages

[2021-04-16 09:44] imavo commented on #61
At today's date 16/April/2021 , on linux, I'm can use Db2-LUW v11.5.5.0 with the following combinations of versions:
[code]
After configuring the `settings.py`, the `python manage.py test` completes successfully, and the `python manage.py migrate` completes successfully.

So it seems that with correct configurations and module-versions, the ibm_db_django can be once again used with currently suppo

[2021-04-16 15:57] imavo commented on #58
The ibm_db release 3.0.4 and its matching clidriver, appear to fix this problem.

So the following combination of versions works correctly with django framework v3.1.8

[code]

[2021-04-17 04:35] #58 closed

[2021-04-17 04:36] #46 closed

[2021-04-17 04:44] #61 closed

[2021-05-14 08:54] abhishekac-chy opened #64 "SQL0401N The data types of the operands for the operation "IN" are not compatible or comparable"
Following error I am getting while running python manage.py migrate -

Operations to perform:
  Apply all migrations: admin, auth, contenttypes, sessions
Running migrations:
  Applying contenttypes.0001_initial... OK
  Applying auth.0001_initial...Traceback (most recent call last):
  File "C:\Users\<Username>\Desktop\DJANGO_ENV2\lib\site-packages\ibm_db_dbi.py", line 1306, in _execute_helper
    r

[2021-05-14 09:09] #64 closed

[2021-05-14 12:12] warinsoul opened #65 "Character conversion from the source code page"
Good afternoon, deploying apache server throws the [IBM] [CLI Driver] [DB2 / AIX64] SQL0332N Character conversion from the source code page "1251" to the target code page "819" is not supported. SQLCODE = -332. Locale settings
virtualenvironment] $ locale
LANG = ru_RU.CP1251
LC_CTYPE = "ru_RU.CP1251"
LC_NUMERIC = "ru_RU.CP1251"
LC_TIME = "ru_RU.CP1251"
LC_COLLATE = "ru_RU.CP1251"
LC_MONETARY = "ru

[2021-05-17 06:32] praveen-db2 commented on #44
This is already been updated in latest python driver release. Hence closing this.

[2021-05-17 06:32] #44 closed

[2021-05-17 06:34] praveen-db2 commented on #42
Django 2.2 and 3.1 are supported now. Hence closing this issue. In near future Django 3.2 will also be supported.

[2021-05-17 06:34] #42 closed

[2021-05-17 06:35] praveen-db2 commented on #41
Yes supported.

[2021-05-17 06:35] #41 closed

[2021-05-17 06:35] praveen-db2 commented on #33
Boolean is supported now for Django. Hence closing this.

[2021-05-17 06:35] #33 closed

[2021-05-17 06:36] #31 closed

[2021-05-17 06:37] praveen-db2 commented on #35
Its working with support for Django 2.2 and 3.1. Hence closing this.

[2021-05-17 06:37] #35 closed

[2021-05-17 06:39] praveen-db2 commented on #50
Closing this as its already supported in Django 2.2 and 3.1

[2021-05-17 06:39] #50 closed

[2021-05-17 06:39] praveen-db2 commented on #49
Closing this as we support for latest Django 2.2 and 3.1, shortly we release support for 3.2 as well.

[2021-05-17 06:39] #49 closed

[2021-05-17 06:41] praveen-db2 commented on #52
I hope this would be working in Django 2.2 and Django 3.1 supported adapters. Request to reopen if you still find this issue.

[2021-05-17 06:41] #52 closed

[2021-05-17 06:44] praveen-db2 commented on #56
@mudittripathi @franpss  Are you still facing this issue? I had updated readme. Will be closing this issue, now, if you still persist issue, please feel free to re-open the issue.

[2021-05-17 06:44] #56 closed

[2021-05-17 06:45] praveen-db2 commented on #12
Closing this issue.

[2021-05-17 06:45] #12 closed

[2021-05-17 06:46] #13 closed

[2021-05-17 06:46] #17 closed

[2021-05-17 06:48] praveen-db2 commented on #19
I hope this would be supported in latest adapter version. Hence closing this.

[2021-05-17 06:48] #19 closed

[2021-05-17 06:49] praveen-db2 commented on #26
Boolean is supported in latest adapter version of Django, hence closing this.

[2021-05-17 06:49] #26 closed

[2021-05-17 07:08] carltongibson commented on #49
Super thanks for the update @praveen-db2.

[2021-05-18 08:23] warinsoul commented on #65
Sorry, it was about the environment variables of the apache service

[2021-05-18 08:23] #65 closed

[2021-07-16 16:20] #60 closed

[2021-12-02 03:21] lke27 opened #68 "SQL0601N The name of the object to be created is identical to the existing name "DJANGO_MIGRATIONS" of type "TABLE""
I want the django to connect to db2 as another user (a DBADM) instead of db2inst1, the schema is XXX. but after running `python manage.py migrate`, it failed after creating tables DJANGO_MIGRATIONS and DJANGO_CONTENT_TYPE. They are both empty. The returned error is `[IBM][CLI Driver][DB2/AIX64] SQL0601N  The name of the object to be created is identical to the existing name "XXX.DJANGO_MIGRATIONS"

[2021-12-02 07:16] praveen-db2 commented on #32
Will Close this as we had already released support for Django 3.2 and updated Readme file accordingly.

[2021-12-02 07:16] #32 closed

[2021-12-07 14:15] imavo commented on #68
If your `settings.py` uses both CURRENTSCHEMA and USER with different values then the `python manage.py migrate` will fail with your symptom.

Seems to be a limitation caused by the current code in ibm_db_django.

It appears that the value of CURRENTSCHEMA (if present in `settings.py` DATABASES clause) is not propagated into ibm_db_dbi , in consequence a subsequent introspection during `python man

[2021-12-09 13:01] praveen-db2 commented on #68
Hi @lke27, I am working on Django 3.2.9, will be releasing in few weeks, I will have above fix said by @imavo in this release. Until then  you can manually fix and use.

[2022-01-03 17:06] #27 closed

[2022-01-03 17:07] praveen-db2 commented on #68
Fix given in version 1.5.1.0

[2022-01-03 17:07] #68 closed

[2022-01-05 09:30] dkdndes opened #71 "Testcase for Django Version x.x"
Django has by now Version 4.0, could you provide a test case for the DB2 connection, which checks the version or tell me how to check it?

[2022-01-05 14:50] praveen-db2 commented on #71
@dkdndes you can use below statement in any test case,
` from django import VERSION as djangoVersion`

Value in object djangoVersion will be like, Ex: (3, 2, 11, 'alpha', 0)
You can use this object directly in your work.

Otherwise you can also use below code ex:
[code]

[2022-01-19 10:34] praveen-db2 commented on #71
@dkdndes can we close this issue ? Did my sample code help you ?

[2022-01-19 15:37] dkdndes commented on #71
Thank you @praveen-db2

[2022-01-19 15:37] #71 closed

[2022-08-18 19:02] kranthi610 opened #75 "force_text function has been removed from django version 4 and above"
Hello IBM team,
force_text function has been removed from django version >= 4.0.
python_ibmdb_django package is still referencing to this force_text function in pybase.py module

https://github.com/ibmdb/python-ibmdb-django/blob/master/ibm_db_django/pybase.py#L46

Django encoding module: https://github.com/django/django/blob/stable/4.0.x/django/utils/encoding.py

[2022-08-18 20:02] #75 closed

[2022-08-24 23:42] wandss opened #76 "Django compatibility"
Is ibm-db-django compatible with Django 4?

[2022-08-25 07:33] bimalkjha commented on #76
@wandss No. It works till version 3.2 only. It is clearly documented. Check the prerequisite section here: https://github.com/ibmdb/python-ibmdb-django#prerequisites-for-django-on-python
Thanks.

[2022-08-25 07:33] #76 closed

[2022-09-26 18:10] wandss opened #77 "Inspect DB"
Hello. I'm trying to inspect a Database using mange.py inspectdb, but this database has a schema name different than the username.
Is there any option, right of bat "replace" the schema name?

Right now I'm thinking of having a custom command, but not sure if this would be the best approach.

Thanks.

[2022-09-27 14:40] praveen-db2 commented on #77
@wandss  please refer https://www.ibm.com/docs/en/db2/11.5?topic=statements-set-schema

[2022-09-27 16:50] wandss commented on #77
Hello @praveen-db2
Thanks. After reading the source code at the ibm_db_django packages I saw at some python module that it checked for the "CURRENTSCHEMA" key inside DATABASES on the django settings.
So after setting that, all good.

Thanks again.
Great work!

[2022-09-27 16:50] #77 closed